body {
    background-image: url('https://images.unsplash.com/photo-1593069567131-53a0614dde1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hem9uJTIwZm9yZXN0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url('https://fonts.cdnfonts.com/css/sf-pro-display');
  }

  h1 {
    color: white;
    font-size: 60px;
    font-family: "SF Pro Display", sans-serif;
  }
  p {
    color: red;
  }

  .center {
    align-items: center;
  }