body {
    background-image: url('https://images.unsplash.com/photo-1593069567131-53a0614dde1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hem9uJTIwZm9yZXN0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }